@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Переходите к <a asp-controller="GraphsAndCharts" asp-action="Index">графикам и диаграммам</a>.</p>
</div>